USE [VITAE_BD]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [CK__Usuarios__tipo_u__4AB81AF0]
GO
ALTER TABLE [dbo].[Publicaciones] DROP CONSTRAINT [CK__Publicaci__estad__5070F446]
GO
ALTER TABLE [dbo].[Publicaciones] DROP CONSTRAINT [FK_Publicaciones_Fundacion]
GO
ALTER TABLE [dbo].[Mensajes] DROP CONSTRAINT [FK_Mensajes_Receptor]
GO
ALTER TABLE [dbo].[Mensajes] DROP CONSTRAINT [FK_Mensajes_Emisor]
GO
ALTER TABLE [dbo].[Donaciones] DROP CONSTRAINT [FK__Donacione__Recep__6E01572D]
GO
ALTER TABLE [dbo].[Donaciones] DROP CONSTRAINT [FK__Donacione__Donad__6D0D32F4]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [DF__Usuarios__fecha___4BAC3F29]
GO
ALTER TABLE [dbo].[Publicaciones] DROP CONSTRAINT [DF__Publicaci__estad__4F7CD00D]
GO
ALTER TABLE [dbo].[Publicaciones] DROP CONSTRAINT [DF__Publicaci__fecha__4E88ABD4]
GO
ALTER TABLE [dbo].[Mensajes] DROP CONSTRAINT [DF__Mensajes__fecha___5FB337D6]
GO
ALTER TABLE [dbo].[Donaciones] DROP CONSTRAINT [DF__Donacione__Fecha__6C190EBB]
GO
/****** Object:  Index [UQ__Usuarios__2A586E0BCB185A07]    Script Date: 8/10/2025 3:06:58 p. m. ******/
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [UQ__Usuarios__2A586E0BCB185A07]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/10/2025 3:06:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 8/10/2025 3:06:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Publicaciones]') AND type in (N'U'))
DROP TABLE [dbo].[Publicaciones]
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 8/10/2025 3:06:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mensajes]') AND type in (N'U'))
DROP TABLE [dbo].[Mensajes]
GO
/****** Object:  Table [dbo].[Donaciones]    Script Date: 8/10/2025 3:06:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Donaciones]') AND type in (N'U'))
DROP TABLE [dbo].[Donaciones]
GO
USE [master]
GO
/****** Object:  Database [VITAE_BD]    Script Date: 8/10/2025 3:06:58 p. m. ******/
DROP DATABASE [VITAE_BD]
GO
/****** Object:  Database [VITAE_BD]    Script Date: 8/10/2025 3:06:58 p. m. ******/
CREATE DATABASE [VITAE_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VITAE_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VITAE_BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VITAE_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VITAE_BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VITAE_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VITAE_BD]
GO
/****** Object:  Table [dbo].[Donaciones]    Script Date: 8/10/2025 3:06:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donaciones](
	[DonacionId] [int] IDENTITY(1,1) NOT NULL,
	[DonadorId] [int] NOT NULL,
	[ReceptorId] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 8/10/2025 3:06:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[id_mensaje] [int] IDENTITY(1,1) NOT NULL,
	[id_emisor] [int] NOT NULL,
	[id_receptor] [int] NOT NULL,
	[contenido] [nvarchar](300) NOT NULL,
	[fecha_envio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 8/10/2025 3:06:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[id_publicacion] [int] IDENTITY(1,1) NOT NULL,
	[id_fundacion] [int] NOT NULL,
	[titulo] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[categoria] [nvarchar](50) NULL,
	[imagen_url] [nvarchar](300) NULL,
	[fecha_publicacion] [datetime] NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_publicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/10/2025 3:06:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[contraseña] [nvarchar](100) NOT NULL,
	[tipo_usuario] [nvarchar](20) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](200) NULL,
	[descripcion] [nvarchar](300) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Publicaciones] ON 

INSERT [dbo].[Publicaciones] ([id_publicacion], [id_fundacion], [titulo], [descripcion], [categoria], [imagen_url], [fecha_publicacion], [estado]) VALUES (1, 4, N'Prueba1', N'Hola, voy a votar por alvaro uribe', N'Animales', NULL, CAST(N'2025-10-07T13:07:46.760' AS DateTime), N'ACTIVA')
SET IDENTITY_INSERT [dbo].[Publicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [correo], [contraseña], [tipo_usuario], [telefono], [direccion], [descripcion], [fecha_registro]) VALUES (1, N'Samuel', N'samuel@correo.com', N'1234', N'Donante', N'3015554444', N'Medellín', N'Soy donante activo', CAST(N'2025-10-06T22:19:04.713' AS DateTime))
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [correo], [contraseña], [tipo_usuario], [telefono], [direccion], [descripcion], [fecha_registro]) VALUES (4, N'Samuel2', N'gonper@gmail.com', N'1234', N'Fundacion', N'3192347716', N'medellin', N'SOY UNA FUNDACION', CAST(N'2025-10-06T22:37:20.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__2A586E0BCB185A07]    Script Date: 8/10/2025 3:06:59 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Donaciones] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT (getdate()) FOR [fecha_envio]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (getdate()) FOR [fecha_publicacion]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT ('Activa') FOR [estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Donaciones]  WITH CHECK ADD FOREIGN KEY([DonadorId])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Donaciones]  WITH CHECK ADD FOREIGN KEY([ReceptorId])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Emisor] FOREIGN KEY([id_emisor])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Emisor]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Receptor] FOREIGN KEY([id_receptor])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Receptor]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Fundacion] FOREIGN KEY([id_fundacion])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Fundacion]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD CHECK  (([estado]='Cerrada' OR [estado]='Activa'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([tipo_usuario]='Fundacion' OR [tipo_usuario]='Donante'))
GO
USE [master]
GO
